<%- include('partials/header') -%>

<body>
    <!-- Main Viewport -->
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="view-area1">
              <%- include('partials/navbar') -%>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mainText">
                    <div id="name-div">
                      <h6 id="hi-msg">HEY, It's </h6>
                      <h6 id="name-text">SAKSHI</h6>
                      <h6 id="name-text">CHOUDHARY</h6>
                    </div>
                    <p id="about-text">I am a Full Stack Web Developer,
                      UI/UX Developer, Freelancer
                      & a Machine Learning Enthusiast.
                      </p>
                    <a href="/resume" class="btn btn-secondary">Resume</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 imgDiv">
                  <img src="imgs/me.jpeg" alt="me" width="200px" height="350px" 
                       id="meImg" style="border-radius: 7%;">
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="view-area1">
              <%- include('partials/navbar') -%>
              <div class="row">
              <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8 mainText">
                  <div id="name-div">
                    <h6 id="hi-msg">HEY, It's </h6>
                    <h6 id="name-text">SAKSHI</h6>
                    <h6 id="name-text">CHOUDHARY</h6>
                  </div>
                  <p id="about-text">I am a Full Stack Web Developer,
                    UI/UX Developer, Freelancer
                    & a Machine Learning Enthusiast.
                    </p>
                  <a href="/resume" class="btn btn-secondary">Resume</a>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4 imgDiv">
                <img src="imgs/girl-stool.svg" alt="me" id="meImg" style="height: 360px;">
              </div>
            </div>
          </div>
        </div>

        <!-- <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a> -->
      </div>
      <%- include('partials/social-icons'); -%>
      
    <!-- End of main -->

    <!-- Skills section -->
      <div class="skill-section container">
        <h1 id="aboutStart" style="text-align: center;">.....</h1>
        <h1 id="aboutHeading" style="text-align: center;">Why You Hire Me!</h1><br/>

        <div class="row">
          <div class="aboutMeImg col-xl-5 col-lg-5 col-md-12">
            <img src="imgs/aboutMe.jpg" id="aboutMeImg">
            <p id="description">I am currently pursuing engineering and I am a FullStack Web Developer, specialised in HTML/CSS/JS and MERN technology, a Freelancer and a Machine Learning Enthusiast. I have my interests in programming and I have working knowledge of Data structures & Algorithms and OOPs concepts. I am quick and a patient learner and I try to give my best in whatever I do. </p>       
          </div>
      
          <div class="col-xl-1 col-lg-1 col-md-0"></div>
      
          <div class="bars col-xl-5 col-lg-5 col-md-12">
            <div class="progress_br">
            <!-- Progress Bars -->
            HTML / CSS / Bootstrap
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="20%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            JavaScript
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            NodeJS
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            MongoDB
              <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            GITHUB
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            ReactJS
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 78%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
              <br/>
          </div>
        </div>
      </div>
                        <!-- TOP BUTTON TO navigate to the top -->
    <!-- End of skills section -->

    <!-- Achievments section -->
    <div class="container">
      <h1 style="text-align: center;">.....</h1>
      <h1 id="achievmentsHeading" style="text-align: center;">My Achievments</h1><br/>
      <div class="achievmentsSection">
        <div class="row" style=" margin-top: 20pt;">

          <div class="col-lg-4 col-sm-4 col-xs-4">
            <div class="card-item">
                <img class="card-img-top achImg" src="imgs/achievments/WomenTech.png"
                    alt="WomenTech">
            </div>
              <a href="https://www.womentech.net/" 
                id="achLinks"><h5 class="card-title">Global Ambassador at WomenTech Network</h5></a>
          </div>

          <div class="col-lg-4 col-sm-4 col-xs-4">
            <div class="card-item">
              <img class="card-img-top achImg" src="https://i1.wp.com/www.gautamkrishnar.com/wp-content/uploads/2017/06/MSP.png?resize=1080%2C675&ssl=1" 
                  alt="Microsoft" style="margin: 26pt 0px;">
            </div>
              <a href="https://drive.google.com/file/d/1PaJWArdvpLWsEHC9mfYtv-NnK-rLbzqD/view?usp=sharing" 
                id="achLinks"><h5 class="card-title">Certified by Microsoft Student Partners at The Quarantine Hackfest.</h5></a>
          </div>

          <div class="col-lg-4 col-sm-4 col-xs-4">
            <div class="card-item">
              <a href="https://www.facebook.com/kiitkonnexions">
                <img class="card-img-top achImg" src="https://scontent.fdel20-1.fna.fbcdn.net/v/t31.0-8/202536_344007595682555_877300273_o.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=5l30EqvCIxcAX_ppn46&_nc_ht=scontent.fdel20-1.fna&oh=3f17988ee9561aa62e1ba3a06b00a6ed&oe=5F12AB10"
                    alt="Konnexions" style="margin: 16pt 0px;"></a>
            </div>
              <a href="https://drive.google.com/file/d/1Rhz7rSl62movC8vgDppxw-ZRXf009wbB/view?usp=sharing"
                id="achLinks"><h5 class="card-title">Certified for Machine Learning course from Konnexions (KIIT).</h5></a>
          </div>

          <div class="col-lg-4 col-sm-4 col-xs-4">
            <div class="card-item">
              <img class="card-img-top achImg" src="https://static.wixstatic.com/media/d68a05_f08acc58e1c74528a3067a0d43b8205b~mv2.png/v1/fill/w_280,h_282,al_c,usm_0.66_1.00_0.01/About%20Us%20YIF.png" 
                  alt="YIF">
            </div>
            <h5 class="card-title">Member of YoungIndiaFellowship (YIF)</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- End of achievments section -->

    <!-- <script src="../public/js/progressBar.js"></script> -->
  </body>
  <%- include('partials/footer') -%>
</html>